html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-y: auto;
}

/* Map styles. */
#map-holder {
  height: 100%;
  width: 100%;
}

#geojson-output {
  /* I dont want GeoJson string to mess my map layout. I hate that kind of scrolls */
  position: absolute;
  bottom: 0;
  left :0;
  z-index: 99;
  width: 80%;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  border: 2px solid #000000;
  resize: none;
  background-color: #e0f0fe;
  display: none;
}
.button{
  position: absolute;
  right:10px;
  z-index:100;
  padding: 10px;
  width: 150px;
  top: 10px;
  background-color: #008CBA;
  color: #ffffff;
  border: none;
}

.button:hover{
  background-color: #4CAF50;
}

#delete-all{
   right: 330px;
}

#toggle-geojson{
  right: 170px;
}

#download-link{
  top:10px;
}

.bootbox{
  width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #000000;
  background:#FFFFFF;
}

select{
  width: 90%;
}

.btn-default{
  float: right;
  margin-right: 13px;
  
}

.btn-primary{
  float: left;
  margin-left: 13px;
}

.btn-primary, .btn-default{
  background-color: #008CBA;
  color: #ffffff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width 60px;
  margin-top: 20px;
}

.btn-primary:hover, .btn-default:hover{
  background-color: #4CAF50;
}

.bootbox-close-button{
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background: #c90000;
}
