html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-y: auto;
}

/* Map styles. */
#map-holder {
  height: 100%;
  width: 100%;
}

#geojson-output {
  /* Θέλω το GeoJson string να μην επηρεάζει τη δομή της σελίδας οταν εμφανιζετε */
  position: absolute;
  bottom: 0;
  left :0;
  z-index: 99;
  width: 80%;
  
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  border: none;
  resize: none;
  background-color: #F1F1F1;
  display: none;
}
.button{
  position: absolute;
  right:10px;
  z-index:100;
}

#toggle-geojson{
  top:40px;
}

#download-link{
  top:10px;
}
