html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-y: auto;
}

/* Map styles. */
#map-holder {
  height: 100%;
  width: 100%;
}

#geojson-output {
  /* I dont want GeoJson string to mess my map layout. I hate that kind of scrolls */
  position: absolute;
  bottom: 0;
  left :0;
  z-index: 99;
  width: 80%;
  height: 100px;
  
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  border: none;
  resize: none;
  background-color: #F1F1F1;
  display: none;
}
.button{
  position: absolute;
  right:10px;
  z-index:100;
}

#delete-all{
   top:70px;
}

#toggle-geojson{
  top:40px;
}

#download-link{
  top:10px;
}

#rating-box{
  text-align: center;
  border: 1px solid #000000;
  background:#FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  z-index: 100;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  display: none;
}

#btn-wrap{
  width: 90%;
  margin: auto;
}

#left-btn{
  float: left;
}

#right-btn{
  float: right;
}

h2{
  pading-top: 20px;
}

select{
  width: 90%;
  margin-bottom: 20px;
}
